<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--单级配置节点测试-->
    <section name="CustomerSingleConfig" type="TestConfig.CustomerSingleConfig,TestConfig"/>
    <!--多级配置节点测试-->
    <section name="CustomerMultiConfig" type="TestConfig.CustomerMultiConfig,TestConfig"/>
    <!--自定义新增节点测试-->
    <section name="TestConfigInfo" type="TestConfig.TestConfigInfo,TestConfig"/>
  </configSections>
  <CustomerSingleConfig configSource="CfgFiles\CustomerSingleConfig.config" />
  <CustomerMultiConfig configSource="CfgFiles\CustomerMultiConfig.config" />
  <TestConfigInfo configSource="CfgFiles\TestConfigInfo.config" />
  <appSettings configSource="CfgFiles\system.config" />
</configuration>